# === OS-specific ===
.DS_Store
Thumbs.db

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# === Java ===
*.class
*.jar
*.war
*.ear
*.log
*.iml
target/
out/

# === .NET / MAUI ===
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb
*.cache
*.nupkg
*.vs/
*.dbmdl
.vscode/

# === IDEs ===

# PyCharm / IntelliJ
.idea/
*.iws
*.ipr
*.iml

# Eclipse
.project
.classpath
.settings/
.metadata/
bin/

# VS Code
.vscode/
.vs/


# === Misc ===
*.swp
*.bak
*.tmp
*.log
.env
.env.*
