.kalorienChart .chart-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.kalorienChart .chart-legend {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #333;
}

/* Gegessener Bereich in rot */
.chart-pie.data0 {
    -fx-pie-color: #FF6B6B;
}

/* Übriger Bereich in grün */
.chart-pie.data1 {
    -fx-pie-color: #51CF66;
}

/* Begrüßung User oben links */
.user_name {
    -fx-font-size: 2.6em;
}

/* Datum oben rechts */
.date {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
}