#SwitchBlueThemeIcon {
    color: #1367F2;
    margin-right: 8px;
}
#SwitchPurpleThemeIcon {
    color: #7C4DFF;
    margin-right: 8px;
}
#SwitchCoralThemeIcon {
    color: #FF5722;
    margin-right: 8px;
}
#SwitchGreenThemeIcon {
    color: #43A047;
    margin-right: 8px;
}