#SwitchBlueThemeIcon {
    color: #1367F2;
    margin-right: 8px;
}
#SwitchPurpleThemeIcon {
    color: #7C4DFF;
    margin-right: 8px;
}
#SwitchCoralThemeIcon {
    color: #FF5722;
    margin-right: 8px;
}
#SwitchGreenThemeIcon {
    color: #43A047;
    margin-right: 8px;
}
#BottomNavigationPanel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: var(--mud-palette-background);
    border-top: 1px solid var(--mud-palette-divider);
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}